.button{
    width: calc(var(--width) / 4 - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--width) / 4 - 10px);
    border-radius: 10px;
    background: #33d190;
    cursor: pointer;
    grid-area:clear;
}
.button p{
    font-size:1.7em;
    font-family:'Gordita Medium'
}
@media(max-width:360px){
    .button p{
        font-size:1.5em;
    }
}